# Configurações do Banco de Dados MySQL
DB_HOST=db
DB_PORT=3306
DB_DATABASE=galeria_db
DB_USERNAME=root
DB_PASSWORD=root_password

# Autenticação Administrativa
ADMIN_USER=admin
ADMIN_PASS=sua_senha_admin_aqui

# Autenticação de Convidados (Amigos)
GUEST_USER=amigos
GUEST_PASS=sua_senha_amigos_aqui

# Diretórios e Limites de Arquivos
BASE_DIR=galeria/
UPLOAD_MAX_FILESIZE=500M
POST_MAX_SIZE=500M
MEMORY_LIMIT=512M